// Microsoft Visual C++ generated resource script.
//
#include "resources.h"
#include <winuser.h>

NPMenu MENU
{
  POPUP "&File"
  {
    MENUITEM "&Open...",    IDM_OPEN
    MENUITEM SEPARATOR
    MENUITEM "&Exit",    IDM_EXIT
  }
  MENUITEM "&About",     IDM_ABOUT
}

STRINGTABLE
{
  IDS_ABOUT "TIPEAUP: This is a perfect example of absolutely useless program!"
  IDS_FILE_NOT_FOUND "File not found: "
}
